body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    padding: 0;
}

.calculator {
    width: 300px;
    margin: 100px auto;
    border: 1px solid #302929;
    padding: 20px;
    border-radius: 8px;
    /* background-color: #fff; */
    background: linear-gradient(to bottom right, #d1cfcf, #e0e0e0);
}

.calculator-body {
    border: none
   
}
#display {
     height: 50px;
     line-height: 50px;
    text-align: right;
     background-color: #eee;
     margin-bottom: 20px;
     padding: 0 10px;
     border-radius: 5px;
     font-size: 1.5em;
     color:#333;
}
#history {
    text-align: right;
    padding-right: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.double-width {
    grid-column: span 2;
}
button:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #cfdd53;
}
.operator {
    background-color: #e6e6e6;
}

.operator:hover {
    background-color: #d4d4d4;
}